<!DOCTYPE html>
<html>

<head>
    <title>Student Management System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🎓 Student Management System</h1>

    <p>Manage Student Records Efficiently</p>

    <form action="/add" method="POST">

        <label>Name</label><br>
        <input type="text" name="name" required>
        <br><br>

        <label>Parent Name</label><br>
        <input type="text" name="parent_name" required>
        <br><br>

        <label>Mobile Number</label><br>
        <input type="text" name="mobile" required>
        <br><br>

        <label>Email</label><br>
        <input type="email" name="email" required>
        <br><br>

        <label>Department</label><br>
        <input type="text" name="department" required>
        <br><br>

        <label>Year</label><br>
        <input type="number" name="year" min="1" max="4" required>
        <br><br>

        <label>Attendance (%)</label><br>
        <input type="number" name="attendance" min="0" max="100" required>
        <br><br>

        <button type="submit">Add Student</button>

    </form>

    <br>

    <a href="/students">
        <button type="button">View Students</button>
    </a>

</div>

<footer>
    © 2026 Student Management System | Developed by Neha Ballapuram
</footer>

</body>

</html>