<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Records</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<div class="dashboard">

<h1>📋 Student Records</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="success-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<p class="subtitle">View, Update and Delete Student Information</p>
<a href="export_excel">
    <button type="button">Export to Excel</button>
</a>
<a href="export_pdf">
    <button type="button">Export to pdf</button>
</a>
<br><br>

<form action="/students" method="GET">

    <input type="text"
           name="search"
           placeholder="🔍 Search by Name or Department">

    <button type="submit">Search</button>

</form>

<br>

<table>

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Parent</th>
    <th>Mobile</th>
    <th>Email</th>
    <th>Department</th>
    <th>Year</th>
    <th>Attendance</th>
    <th>View</th>
    <th>Update</th>
    <th>Delete</th>
</tr>

{% for student in students %}

<tr>

<td>{{ student[0] }}</td>
<td>{{ student[1] }}</td>
<td>{{ student[2] }}</td>
<td>{{ student[3] }}</td>
<td>{{ student[4] }}</td>
<td>{{ student[5] }}</td>
<td>{{ student[6] }}</td>
<td>{{ student[7] }}%</td>

<td>
<a href="/view/{{ student[0] }}">
<button>👁️ View</button>
</a>
</td>

<td>
<a href="/update/{{ student[0] }}">
<button>✏️ Update</button>
</a>
</td>

<td>
<a href="/delete/{{ student[0] }}"
onclick="return confirm('Are you sure you want to delete this student?');">
<button class="delete-btn">🗑️ Delete</button>
</a>
</td>

</tr>

{% endfor %}

</table>

<br>

<a href="/">
<button>🏠 Back to Dashboard</button>
</a>

</div>

</div>

<footer>
© 2026 Student Management System | Developed by Neha Ballapuram
</footer>

</body>

</html>